body {
    background-color: lavenderblush;
}
p {
    color: grey;
    font-size: 60%;
    margin-left: 20px;
    margin-top: 40px;
}
div {
    width: 300px;
    margin-left: 20px;
}
#text {
    border: none;
    border-bottom: 1px solid grey;
    background-color: lavenderblush;
    display: block;
    margin-left: 20px;
    width: 200px;
}
#button {
    margin-left: 20px;
    width: 200px;
    background-color: rgb(245, 128, 107);
    border: none;
    border-radius: 3px;
    padding: 10px;
}
img {
    position: absolute;
    top: -4px;
    right: 0px;
}
