* {
    margin: 0px;
}
#icon1 {
    position: relative;
    right: 30px;
    font-size: 80%;
    color: rgb(0, 21, 36);
}
#header input {
    border-radius: 20px;
    padding: 3px;
    width: 328px;
    border: 1px solid rgb(0, 21, 36);
    background-color: rgb(206, 206, 206);
    font-size: 80%;
}
#header {
    display: flex;
    padding: 15px;
    background-color: rgb(206, 206, 206);
    width: 91%;
    font-size: 90%;
}
#box1 {
    background: rgb(21,97,109);
    background: linear-gradient(146deg, rgba(21,97,109,1) 15%, rgba(255,236,209,1) 85%);
    width: 95%;
    height: 300px;
    position: absolute;
    box-shadow: 3px 4px 4px rgb(197, 197, 197);
}
#box2 {
    position: relative;
    text-align: center;
    background-color: rgb(206, 206, 206);
    padding: 10px;
    width: 310px;
    top: 20px;
    left: 168px;
}
.button {
    font-size: 60%;
    color: rgb(255, 236, 209);
    border: 1px solid rgb(21, 97, 109);
    background-color: rgb(21, 97, 109);
    padding: 5px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.button i {
    color: rgb(255, 236, 209);
}
.text {
    font-size: 70%;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(0, 21, 36);
}
#box2 input {
    border: 1px solid rgb(0, 21, 36);
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}
#button1 {
    font-size: 60%;
    color: rgb(255, 236, 209);
    border: 1px solid rgb(21, 97, 109);
    background-color: rgb(21, 97, 109);
    padding: 5px;
    border-radius: 3px;
}